.wrapper {
	max-width: 600px;
	margin: auto;
	display: flex;
	flex-direction: column;
	width: 100%;
  height: auto;
  min-height: 100% !important;
	padding: 2rem;
}

.wrapper.auth {
	justify-content: start;
	align-items: center;
}

.wrapper.auth .welcome {
  margin: 1rem auto 2rem;
  color: dimgray;
}

.mdl-button {
  background-color: var(--dimmer) !important;
}

h1 {
	font-size: 2.25rem;
  color: var(--dimmer);
}

h2 {
	font-size: 1.75rem;
	margin: 1rem 0 0.5rem;
}

#logout {
  margin-top: auto;
	margin-left: auto;
}
