.tasks {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.task {
  position: relative;
  display: flex;
  font-size: 1.125rem;
  font-weight: 300;
  padding: 1rem;
  margin: 0.25rem 0;
  background-color: var(--dim);
  border-radius: 0.25rem;
  width: 100%;
  overflow-wrap: anywhere;
  transition: all 1.25s ease;
}

.task.done {
  opacity: 0;
}

.task.done p {
  text-decoration: line-through;
}

.task span {
  margin-right: 0.75rem;
}
